body            { font-family: tahoma,arial,sans-serif; background: #FEFDCF; }
a:link,
a:visited,
a:active 	{ color:#315B23;font-weight:bold;text-decoration:none; }
a:hover 	{ color:#5B43A1;font-weight:bold;text-decoration:underline } 
h1, h2          { color: #377BA8; }
h1, h2          { font-family: 'Georgia', serif; margin: 0; }
h1              { border-bottom: 2px solid #eee; }
h2              { font-size: 1.2em; }

#wrap 		{ width: 780px;
		  margin: 0 auto;
	  	  background: #DCDCDC;}

#page           { margin: 2em auto; width: 560px; 
                  padding: 0.8em; background: white; float: left }
#entries        { list-style: none; margin: 0; padding: 0; }
#entries li     { margin: 0.8em 1.2em; }
#entries li h2  { margin-left: -1em; }
#error          { background: #F0D6D6; padding: 0.5em; }

#sidebar 	{ margin: 2em auto; width: 194px; text-align: center;
		  padding: 0px; background: #DCDCDC; float: right }

#headerimage 	{ margin: 0px; padding: 0px; }

