{% extends "layout.html" %}
{% block body %}
<h2>Suche nach Mitläufern</h2>
<h3>Nach Entfernung</h3>
<form action="{{ url_for('search_entry') }}" method=post>
	<dl>
		<dt>{{ form.zip.label }}:
		<dd>{{ form.zip() }}
		{% if form.zip.errors %}
		<ul class="errors">{% for error in form.zip.errors %}<li>{{ error }}</li>{% endfor %}</ul>
		{% endif %}
		<dt>{{ form.distance.label }}:
		<dd>{{ form.distance() }}
		{% if form.distance.errors %}
		<ul class="errors">{% for error in form.distance.errors %}<li>{{ error }}</li>{% endfor %}</ul>
		{% endif %}
		<dd>{{ form.submit }}
	</dl>
</form>
{% endblock %}
